// Landing (core/sections/_landing.scss) -----------------------------
$landing--padding-t__mobile: 		null;		// landing, top padding (mobile)
$landing--padding-b__mobile: 		null;		// landing, bottom padding (mobile)
$landing--padding-t__desktop: 		null;		// landing, top padding (desktop)
$landing--padding-b__desktop: 		null;		// landing, bottom padding (desktop)
$landing--inner-padding-v_mobile: 	48px;		// vertical padding, i.e. padding between content and image (mobile, both landing split and landing full)
$landing--inner-padding-v_desktop: 64px;		// vertical padding, i.e. padding between content and image (desktop, only landing full)
